__pycache__
.env
node_modules/
/frontend/public/build/
.vscode
frontend/dev-dist
meili_data
Q.ipynb
db*.json
backend/static
.dev
.direnv
.venv
*.egg-info
*.db
frontend_old
.svelte-kit
/data
/Caddyfile